* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: center;
    font-size: 3rem; /* 75% larger than dummy text */
    margin: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    border: 1px solid black;
    padding: 20px;
    background-color: rgb(154, 154, 154);
    margin: 10px;
    
    position: relative;

}

.section-title {
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    padding: 5px 10px;
    font-size: 1.25rem; 
}


p {
    margin-top: 20px; 
}


.t1 {
    background-color: #a67f89; /* Green background */

}

.t2 {
    background-color: #b85a5a; /* Green background */

}

.t3 {
    background-color: #d3d075; /* Green background */

}


@media (min-width: 992px) {
    .section {
        width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: 46%; /* Two sections in a row */
    }

    .section-3 {
        width: 100%; /* Full width for the 3rd section */
    }
}

@media (max-width: 767px) {
    .section {
        width: 100%; /* Full width for all sections */
    }
}
